@model WEBRESOLVAKI.Models.FormularioConsulta

@{
    ViewBag.Title = "Home Page";
    Layout = null;

    if (HttpContext.Current != null && HttpContext.Current.Session != null)
    {
        HttpContext.Current.Session.Timeout = 20; // tempo em minutos
        string sessionID = HttpContext.Current.Session.SessionID;
        HttpCookie cookie = new HttpCookie("ASP.NET_SessionId", sessionID);
        cookie.Secure = true; // adiciona o flag "Secure"
        HttpContext.Current.Response.Cookies.Add(cookie);
    }
}


<!--
THEME: App Resolvaki
VERSION: 1.0.0
AUTHOR: GRB Soluções Financeiras
-->

@{
    string url = HttpContext.Current.Request.Url.AbsoluteUri;


    if (url.ToLower().Contains("beta") || url.ToLower().Contains("localhost"))
    {
        <br />
        <div class="alert alert-warning" role="alert">
            <strong>Você está em um ambiente de teste controlado. Todo acordo feito por esse canal deve ser cancelado a fim de evitar problemas futuros.</strong>
        </div>

    }

    if (ViewBag.Mensagem == "Erro")
    {
        <br />
        <div class="alert alert-warning" role="alert">
            <strong>Olá Tudo Bem! @ViewBag.MsgConsultaDocumento</strong> .
        </div>
    }

    if (!string.IsNullOrEmpty(ViewBag.MensagemErro))
    {
        <br />
        <div class="alert alert-danger" role="alert">
            <strong>@ViewBag.MensagemErro</strong>
        </div>
    }



}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>GRB - ResolvaKI - Principal</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Resolvaki App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="ezequiel moscardi sprocatti">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/PrincipalPage/images/favicon.png" />

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="~/Content/PrincipalPage/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/PrincipalPage/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Content/PrincipalPage/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/Content/PrincipalPage/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/PrincipalPage/plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/PrincipalPage/plugins/aos/aos.css">

    <!-- CUSTOM CSS -->
    <link href="~/Content/PrincipalPage/css/style.css" rel="stylesheet">

    <!-- Política de Cokkies -->
    <link rel="stylesheet" href="~/Content/cookie/cookies.css">

    <!--ReCaptcha-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeLIWImAAAAAKnUi4ADK5ha_rkF9GgO_evyMXUH"></script>


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4VXP9EV7JQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-4VXP9EV7JQ');
    </script>


    <!--Geolocalização de segurança-->
    <script>
        let latitude, longitude;

        function getLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    // sucesso ao obter a localização do usuário
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;
                    const locationElement = document.getElementById("location");
                    locationElement.innerHTML = "Localização obtida.";
                }, function (error) {
                    // erro ao obter a localização do usuário
                    console.error("Erro ao obter a localização do usuário: " + error.message);
                    const locationElement = document.getElementById("location");
                    locationElement.innerHTML = "Não foi possível obter a sua localização.";
                });
            } else {
                // o navegador do usuário não suporta geolocalização
                console.error("Geolocalização não suportada pelo navegador");
                const locationElement = document.getElementById("location");
                locationElement.innerHTML = "Seu navegador não suporta geolocalização.";
            }
        }

        function showLocation() {
            if (latitude && longitude) {
                const locationElement = document.getElementById("location");
                locationElement.innerHTML = "Latitude: " + latitude + ", Longitude: " + longitude;
            } else {
                const locationElement = document.getElementById("location");
                locationElement.innerHTML = "Localização ainda não foi obtida.";
            }
        }
    </script>

    <!--Valida Telefone-->
    <!-- <script>
        function validarTelefone() {
            var telefone = document.getElementById("Telefone").value;
            var btnEnviar = document.getElementById("ConsultaDados");
            var regex = /^[1-9]{2}[0-9]{9}$/; // Expressão regular para validar o telefone celular

            if (regex.test(telefone)) {
                // O número de telefone é válido
                document.getElementById("telefoneValido").style.display = "block";
                document.getElementById("telefoneInvalido").style.display = "none";
                btnEnviar.disabled = false;
            } else {
                // O número de telefone é inválido
                document.getElementById("telefoneValido").style.display = "none";
                document.getElementById("telefoneInvalido").style.display = "block";
                btnEnviar.disabled = true;
            }
        }
    </script> -->


    <!--Valida CPF-->
    <script src="/indexValidacoes.js">
        // function validarCPF() {
        //     var telefone = document.getElementById("cpf").value;
        //     var btnEnviar = document.getElementById("ConsultaDados");
        //     var regex = /^[0-9]{11}$/; // Expressão regular para validar o CPF

        //     if (regex.test(telefone)) {
        //         // O número de telefone é válido
        //         document.getElementById("cpfValido").style.display = "block";
        //         document.getElementById("cpfInvalido").style.display = "none";
        //         btnEnviar.disabled = false;
        //     } else {
        //         // O número de telefone é inválido
        //         document.getElementById("cpfValido").style.display = "none";
        //         document.getElementById("cpfInvalido").style.display = "block";
        //         btnEnviar.disabled = true;
        //     }
        // }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav" onload="getLocation()">


    <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="~/Content/Imagens/LogosResolvaki/logo_7.png" alt="logo" width="230" height="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item about active">
                        <a class="nav-link" href="~/Home/Index">Início</a>
                    </li>
                    <li class="nav-item about">
                        <a class="nav-link" href="~/Home/About">Sobre</a>
                    </li>
                    <li class="nav-item about">
                        <a class="nav-link" href="~/Home/PoliticaPrivacidade">Política Cookies</a>
                    </li>
                    <!--<li class="nav-item @@contact">
                        <a class="nav-link" href="contact.html">Contato</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    @if (ViewBag.HrFuncionamento != "")
    {
        <br />
        <div class="alert alert-danger" role="alert">
            <strong>@ViewBag.HrFuncionamento</strong>
        </div>
    }

    <div class="cookies-container">
        <div class="cookies-content">

            <p>Permito o uso de cookies para:</p>
            <div class="cookies-pref">
                <label><input type="checkbox" checked data-function="analytics">Análise de Uso</label>
                <label><input type="checkbox" checked data-function="marketing">Marketing</label>
                <label><a href="~/Home/PoliticaPrivacidade">Política de uso!</a></label>

            </div>
            <button class="cookies-save">Aceitar</button>
        </div>
    </div>

    <!--====================================
    =            Hero Section            =
    =====================================-->
    <section class="section gradient-banner">
        <div class="shapes-container">
            <div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
            <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
            <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
            <div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
            <div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
        </div>

        @{
            if (ViewBag.TipoAcesso == "desktop")
            {
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                            <h1 class="text-white font-weight-bold mb-4">O jeito rápido e seguro de negociar suas dívidas</h1>
                            <p class="text-white mb-5">Aproveite condições especiais e fique livre de pendências.</p>

                            @if (ViewBag.HrFuncionamento == "")
                            {
                                <a href="#" data-toggle="modal" data-target="#exampleModal"
                                   style="color: blue; background-color: #00FFFF;" class="btn btn-main-md">Negocie Agora!</a>
                            }


                        </div>
                        <div class="col-md-6 text-center order-1 order-md-2">
                            <img class="img-fluid" src="~/Content/PrincipalPage/images/mobile.png" style="" alt="screenshot">
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">NEGOCIE ONLINE AQUI</h3>
                                </div>

                                @*<form action="~/Home/ConfirmacaoTokem" method="post" id="consultaCPF">*@
                            <form action="~/Home/DadosCarregados" method="post" id="consultaCPF">
                                @*<form action="~/Home/ConsultaDocumento" method="post" id="consultaCPF">*@

                                @Html.AntiForgeryToken()

                                <input type="hidden" id="g-recaptcha-response-v3-m" name="g-recaptcha-response-v3-m">
                                

                                <div class="form-group">

                                    <div class="col-12 col-12 row">
                                        <div class="col-12">
                                            <br />
                                            <label for="exampleInputEmail1">Informe Seu CPF</label>
                                            <br>
                                            <input type="number" class="form-control col-12" id="cpf" name="cpf" placeholder="000.000.000-00" required oninput="validarCPF()">
                                            <div id="cpfValido" style="display: none; color: green;"></div>
                                            <div id="cpfInvalido" style="display: none; color: red;">CPF inválido</div>
                                            <small id="emailHelp" class="form-text text-muted" style="color: rgb(35, 41, 41);">
                                            </small>
                                        </div>
                                        <div class="col-6">
                                            <input type="hidden" class="form-control col-12" id="localizacao" name="localizacao" value="">
                                            <p hidden id="location"></p>
                                        </div>

                                    </div>

                                    <br>

                                    <div class="col-12">

                                        @*<div class="g-recaptcha" data-sitekey="6LdcD1IlAAAAAKUcoLBtcDOk__0J-fQCXRRYKVhP"></div>*@

                                        <br />

                                        <input type="submit" class="btn" style="color: white; background-color: #2D7BE9;" value="Consultar" onclick="return foo();" id="ConsultaDados" disabled />

                                        <button hidden class="btn btn-primary" type="button" disabled id="CarregarDados">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Buscando Ofertas...
                                        </button>

                                    </div>



                                    <br />

                                    <div class="col-12">

                                        <small id="emailHelp" class="form-text text-muted" style="color: rgb(35, 41, 41);">
                                            Todos os seus dados estão seguros, para mais detalhes acesse nossa política LGPD!
                                        </small>
                                        <br />
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="TermoUsoApp" required>
                                            <label class="form-check-label" for="exampleCheck1">
                                                Termo de uso da plataforma! <a href="https://resolvaki.com.br/Pol%C3%ADtica%20de%20Privacidade%20-%20Resolvaki.pdf">
                                                    Acesse
                                                    aqui
                                                </a>
                                            </label>
                                        </div>

                                    </div>


                                </div>

                            </form>

                            </div>
                        </div>
                    </div>
                </div>

            }
        }


    </section>


    <!--====  End of Hero Section  ====-->

    <section class="section pt-0 position-relative pull-top">
        <div class="container">
            <div class="rounded shadow p-5 bg-white">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Beneficios Exclusivos</h2>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                        <i class="fa fa-calendar" style="font-size:50px;color:#2D7BE9;"></i>
                        <h3 class="mt-4 text-capitalize h5 ">Defina quando e como pagar.</h3>
                        <p class="regular text-muted">
                            Desde Datas, até a forma de pagamento como Cartão de Crédito,
                            Boleto, Parcelado ou Avista.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                        <i class="fa fa-percent" style="font-size:50px;color:#2D7BE9;"></i>
                        <h3 class="mt-4 text-capitalize h5 ">Descontos Incríveis</h3>
                        <p class="regular text-muted">
                            Tenha acesso a vantagens exclusivas e condições personalizadas.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
                        <i class="fa fa-calculator" style="font-size:50px;color:#2D7BE9;"></i>
                        <h3 class="mt-4 text-capitalize h5 ">Ótimas Parcelas</h3>
                        <p class="regular text-muted">
                            As melhores negociações disponíveis para você quando e onde
                            quiser.
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
    =            Parceiros GRB            =
    ==================================-->
    <section class="section testimonial" id="testimonial" style="background-color: #faf9f8;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Nossos Parceiros Autorizados</h2>
                        </div>
                    </div>
                    <!-- Testimonial Slider -->
                    <div class="testimonial-slider owl-carousel owl-theme">
                        <!-- Parceiro 01 -->
                        <div class="item">
                            <div class="block shadow row">
                                <div class="col-lg-4">
                                    <a href="https://ri.animaeducacao.com.br/"><img src="~/Content/PrincipalPage/images/Clientes/anima_logo.png" width="100px height="100px" alt="Anima"></a>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Ativos_SA_logo.png" alt="Ativos Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/BMG_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/BMW_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <!--<div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/bradesco_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>-->
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Click_Cash_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                            </div>
                        </div>
                        <!-- Parceiro 02 -->
                        <div class="item">
                            <div class="block shadow row">

                                <div class="col-lg-4">
                                    <a href="https://www.credsystem.com.br/"><img src="~/Content/PrincipalPage/images/Clientes/credsystem_logo.png" width="100px height="100px" alt="Credsystem"></a>
                                </div>

                                <div class="col-lg-4">
                                    <a href="https://www.crefisa.com.br/"><img src="~/Content/PrincipalPage/images/Clientes/Crefisa_logo.png" width="100px height="100px" alt="Crefisa"></a>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Gm_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Itapeva_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Itau_Banco_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/jequiti_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                            </div>
                        </div>
                        <!-- Parceiro 03 -->
                        <div class="item">
                            <div class="block shadow row">

                                <div class="col-lg-4">
                                    <a href="https://www.laureate.net/"><img src="~/Content/PrincipalPage/images/Clientes/Laureate_logo1.png" width="100px height="100px" alt="Laureate"></a>
                                </div>
                                <!--<div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Marisa_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>-->
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Muffato_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Nubank_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Omni_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <a href="https://www.pernambucanas.com.br/"><img src="~/Content/PrincipalPage/images/Clientes/pernambucanas_logo.png" width="100px height="100px" alt="Pernambucanas"></a>
                                </div>
                            </div>
                        </div>
                        <!-- Parceiro 04 -->
                        <div class="item">
                            <div class="block shadow row">

                                <div class="col-lg-4">
                                    <a href="https://www.portoseguro.com.br/"><img src="~/Content/PrincipalPage/images/Clientes/Porto_Seguro_logo.png" width="100px height="100px" alt="Porto Seguro"></a>
                                </div>

                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Recovery_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Renner_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Safra_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <br>
                                    <img src="~/Content/PrincipalPage/images/Clientes/Santana_logo.png" alt="Anima Logo" width="100px"
                                         height="60px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Santander_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                            </div>
                        </div>
                        <!-- Parceiro 05 -->
                        <div class="item">
                            <div class="block shadow row">

                                <div class="col-lg-4">
                                    <a href="https://afinz.com.br/"><img src="~/Content/PrincipalPage/images/Clientes/Sorocred_logo.png" width="100px height="100px" alt="Sorocred"></a>
                                </div>

                                <div class="col-lg-4">
                                    <a href="https://www.tribanco.com.br/empresa/"><img src="~/Content/PrincipalPage/images/Clientes/Tribanco_logo.png" width="100px height="100px" alt="Tribanco"></a>
                                </div>


                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Trigg_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Via_Varejo_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/Content/PrincipalPage/images/Clientes/Virtuspay_logo.png" alt="Anima Logo" width="100px"
                                         height="100px">
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====  End of Testimonial  ====-->
    <!--==============================
    =            Services            =
    ===============================-->
    <section class="service section" style="background-color: #ffffff;">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Uma solução para o estilo de vida</h2>
                        <p>
                            <a href="#">ResolvaKI</a> Uma aplicação desenvolvida para auxiliar as pessoas na quitação de
                            seus débitos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 align-self-center">
                    <!-- Feature Image -->
                    <div class="service-thumb left" data-aos="fade-right">
                        <img class="img-fluid" src="~/Content/PrincipalPage/images/ContactCenter_Suporte.png" alt="Suporte ao CLiente">
                    </div>
                </div>
                <div class="col-lg-5 mr-auto align-self-center">
                    <div class="service-box">
                        <div class="row align-items-center">
                            <div class="col-md-6 col-xs-12">
                                <!-- Service 01 -->
                                <div class="service-item">
                                    <!-- Icon -->
                                    <i class="ti-bookmark"></i>
                                    <!-- Heading -->
                                    <h3>Segurança</h3>
                                    <!-- Description -->
                                    <p>
                                        Conte com a total segurança dos seus dados, nossa empresa segue os termos da lei
                                        LGPD!
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <!-- Service 01 -->
                                <div class="service-item">
                                    <!-- Icon -->
                                    <i class="ti-pulse"></i>
                                    <!-- Heading -->
                                    <h3>Frequência</h3>
                                    <!-- Description -->
                                    <p>
                                        Diminua a frequência de chamadas negociando diretamente pelo nosso portal de
                                        negociação!
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <!-- Service 01 -->
                                <div class="service-item">
                                    <!-- Icon -->
                                    <i class="ti-bar-chart"></i>
                                    <!-- Heading -->
                                    <h3>Descontos</h3>
                                    <!-- Description -->
                                    <p>Temos as melhores ofertas de desconto em nossa plataforma para você!</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <!-- Service 01 -->
                                <div class="service-item">
                                    <!-- Icon -->
                                    <i class="ti-panel"></i>
                                    <!-- Heading -->
                                    <h3>Controle</h3>
                                    <!-- Description -->
                                    <p>
                                        Escolha a melhor forma de negociação, em nossa plataforma, tenha acesso a várias
                                        ofertas!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer></footer>
    <!--====  End of Services  ====-->
    <!--=================================
    =            Testimonial            =
    ==================================-->
    <section class="section testimonial" id="testimonial" style="background-color: #f3efefee;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Um relato real de nossos clientes</h2>
                        </div>
                    </div>
                    <!-- Testimonial Slider -->
                    <div class="testimonial-slider owl-carousel owl-theme">
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow" style="background-color: #ffffff;">
                                <!-- Speech -->
                                <p>
                                    "Oque impressiona, é simplicidade que plataforma oferece ao seu cliente, e as opções
                                    de negociação que estão disponiveis."
                                </p>
                                <!-- Name and Company -->
                                <cite>- ROBSON FREITAS</cite>
                            </div>
                        </div>
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow" style="background-color: #ffffff;">
                                <!-- Speech -->
                                <p>
                                    "Boa noite! Achei ótima essa nova forma de negociação, sem pressão, sem ligações e
                                    acessar a qualquer hora. Fiz meu acordo em menos de 1 min às 00:00 muito bom."
                                </p>
                                <!-- Name and Company -->
                                <cite>- LUIZ FELIPE</cite>
                            </div>
                        </div>
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow" style="background-color: #ffffff;">
                                <!-- Speech -->
                                <p>
                                    "Bom dia venho aqui agradecer pela ótima plataforma e com muita satisfação pela
                                    forma rápida e prática de acesso, pois eu me encontrava em uma situação bem delicada
                                    e não achava solução. Então vocês me enviaram um link com uma proposta excelente,
                                    que a forma de pagamento foi ótima para as minhas condições no momento."
                                </p>
                                <!-- Name and Company -->
                                <cite>- SHIRLEY LIMA</cite>
                            </div>
                        </div>
                        <!-- Testimonial 01 -->
                        <div class="item">
                            <div class="block shadow" style="background-color: #ffffff;">
                                <!-- Speech -->
                                <p>
                                    "Achei a ideia da empresa bacana, pois mostra comprometimento e transparência com
                                    cliente no momento da negociação!"
                                </p>
                                <!-- Name and Company -->
                                <cite>- ROMULO</cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--============================
    =            Footer            =
    =============================-->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                        <div class="block">
                            <!--<a href="index.html"><img src="~/Content/PrincipalPage/images/logo-alt.png" alt="footer-logo"></a>-->
                            <a href="~/Home/Index"><img src="~/Content/Imagens/LogosResolvaki/logo_rodape_branco.png" alt="footer-logo" width="250" height="100"></a>
                            <!-- Social Site Icons -->
                            <ul class="social-icon list-inline">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/GRBServicesdoBrasil/">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/GRB_Services"><i class="ti-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/grboficial/"><i class="ti-instagram"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://br.linkedin.com/company/grb-services-do-brasil">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Produtos</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Cobrança</a></li>
                                <li><a href="#">Atendimento ao Cliente</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Recursos</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Soluções Internas</a></li>
                                <li><a href="#">Analise de Dados</a></li>
                                <li><a href="#">Tecnologia de voz</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                        <div class="block-2">
                            <!-- heading -->
                            <h6>Empresa</h6>
                            <!-- links -->
                            <ul>
                                <li><a href="#">Trabalhe Conosco</a></li>
                                <li><a href="#">Contato</a></li>
                                <li><a href="#">Desenvolvimento de Software</a></li>
                                <li><a href="https://resolvaki.com.br/Pol%C3%ADtica%20de%20Privacidade%20-%20Resolvaki.pdf">LGPD</a></li>
                                <li><a href="~/Home/FormularioRequisicaoLGPD">Titulariedades de Dados</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-4">
                <h4><small class="text-secondary"> Contato DPO GRB Felipe Ibanez   Email: dpo@resolvaki.com.br </small></h4>
            </div>
        </div>
        <div class="text-center bg-dark py-4">
            <small class="text-secondary">
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="#">GRB</a>
            </small>
        </div>
        <div class="text-center bg-dark py-1">
            <small class="text-secondary">
                <p>Desenvolvido por <a href="#">GRB Services do Brasil</a></p>
            </small>
        </div>
    </footer>


    <!-- To Top -->
    <div class="scroll-top-to">
        <i class="ti-angle-up"></i>
    </div>



    <!-- Modal De Busca -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2D7BE9;">
                    <h5 class="modal-title" style="color: white;" id="exampleModalLabel">Insira os Dados Abaixo</h5>
                    <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @*<form action="~/Home/ConfirmacaoTokem" method="post" id="consultaCPF">*@
                    <form action="~/Home/DadosCarregados" method="post" id="consultaCPF">
                        @*<form action="~/Home/ConsultaDocumento" method="post" id="consultaCPF">*@

                        @Html.AntiForgeryToken()

                        <input type="hidden" id="g-recaptcha-response-v3-d" name="g-recaptcha-response-v3-d">

                        <div class="form-group">

                            <div class="col-12 col-6 row">
                                <div class="col-6">
                                    <label for="exampleInputEmail1">Informe Seu CPF</label>
                                    <br>
                                    <input type="text" class="form-control col-12" id="cpf" name="cpf" placeholder="000.000.000-00" required>
                                    <small id="emailHelp" class="form-text text-muted" style="color: rgb(35, 41, 41);">
                                    </small>
                                </div>
                                <div class="col-6">
                                    <label for="exampleInputEmail1">Celular para Contato</label>
                                    <br>
                                    <input type="tel" class="form-control col-12" id="Telefone" name="Telefone" placeholder="(00)00000-0000" oninput="validarTelefone()" required>
                                    <div id="telefoneValido" style="display: none; color: green;"></div>
                                    <div id="telefoneInvalido" style="display: none; color: red;">Telefone inválido, apenas DDD+Número</div>
                                    <small id="emailHelp" class="form-text text-muted" style="color: rgb(35, 41, 41);">
                                    </small>
                                </div>
                                <div class="col-6">
                                    <input type="hidden" class="form-control col-12" id="localizacao" name="localizacao" value="">
                                    <p hidden id="location"></p>
                                </div>

                            </div>

                            <br>


                            @*<div class="g-recaptcha" data-sitekey="6LdcD1IlAAAAAKUcoLBtcDOk__0J-fQCXRRYKVhP"></div>*@
                            <br />

                            <input type="submit" class="btn" style="color: white; background-color: #2D7BE9;" value="Consultar" onclick="return foo();" id="ConsultaDados" />

                            <button hidden class="btn btn-primary" type="button" disabled id="CarregarDados">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Buscando Ofertas...
                            </button>


                            <br />
                            <br />

                            <small id="emailHelp" class="form-text text-muted" style="color: rgb(35, 41, 41);">
                                Todos os seus dados estão seguros, para mais detalhes acesse nossa política LGPD!
                            </small>
                            <br />
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="TermoUsoApp" required>
                                <label class="form-check-label" for="exampleCheck1">
                                    Termo de uso da plataforma! <a href="https://resolvaki.com.br/Pol%C3%ADtica%20de%20Privacidade%20-%20Resolvaki.pdf">
                                        Acesse
                                        aqui
                                    </a>
                                </label>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        let form = document.querySelector('#register');
        form.addEventListener('submit', e => {
            e.preventDefault();
            let name = document.querySelector('#name');
            let email = document.querySelector('#email');
            if (!name.value || !email.value) {
                alert('Nome e Email são Obrigatorios');
            } else {
                grecaptcha.execute();
            }
        });
        function sendForm() {
            alert("reCAPTCHA funcionou");
        }
    </script>

    <!-- JAVASCRIPTS -->
    <script src="~/Content/PrincipalPage/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/PrincipalPage/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/PrincipalPage/plugins/slick/slick.min.js"></script>
    <script src="~/Content/PrincipalPage/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Content/PrincipalPage/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="~/Content/PrincipalPage/plugins/aos/aos.js"></script>

    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
    <script src="~/Content/PrincipalPage/plugins/google-map/gmap.js"></script>

    <script src="~/Content/PrincipalPage/js/script.js"></script>

    <script>
        function foo() {

            if (grecaptcha.getResponse() == "") {
                alert("Click no recaptcha");
                return false;
            }
            else {

                var x = document.getElementById('ConsultaDados');
                var y = document.getElementById('CarregarDados');
                var checkBox = document.getElementById("TermoUsoApp");
                var txtCpf = document.getElementById("cpf");
                var input = document.getElementById("localizacao");

                if (checkBox.checked == true) {

                    if (x.style.display === "none") {

                        x.style.display = "block";

                    } else {

                        x.style.display = "none";
                    }

                    y.removeAttribute("hidden");

                } else {
                    alert("Olá aceite os termos!");
                }


                if (latitude && longitude) {
                    const locationElement = document.getElementById("location");
                    locationElement.innerHTML = "Latitude: " + latitude + ", Longitude: " + longitude;
                    input.value = locationElement.innerHTML;
                } else {
                    const locationElement = document.getElementById("location");
                    input.value = "Localização ainda não foi obtida.";
                }

                grecaptcha.ready(function () {
                    grecaptcha.execute('6LeLIWImAAAAAKnUi4ADK5ha_rkF9GgO_evyMXUH', { action: 'submit' })
                        .then(function (token) {
                            document.getElementById('g-recaptcha-response-v3-d').value = token;
                            document.getElementById('g-recaptcha-response-v3-m').value = token;
                            document.getElementById('consultaCPF').submit();
                        });
                });

                return true;
            }
        }
    </script>

    <!--JS cookie-->
    <script src="~/Content/cookie/cookies.js"></script>

    <!--JS variavel-->
    <script type="text/javascript" src="~/Scripts/src/utils/KeepAlineSession.js"></script>

    <!--Recaptcha V3-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LeLIWImAAAAAKnUi4ADK5ha_rkF9GgO_evyMXUH"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeLIWImAAAAAKnUi4ADK5ha_rkF9GgO_evyMXUH', { action: 'submit' }).then(function (token) {
                document.getElementById('g-recaptcha-response-v3-d').value = token;
                document.getElementById('g-recaptcha-response-v3-m').value = token;
            });
        });
    </script>
</body>

</html>




